<div class="w-4/5 mx-auto">
  <h2 class="font-bold text-2xl my-5">Change your password</h2>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="card bg-neutral text-neutral-content shadow-xl p-7 my-5">
      <div class="form-control my-3">
        <div class="label">
          <%= f.label :password, class: "label-text" %>
          <% if @minimum_password_length %>
            <span class="label-text-alt">(<%= @minimum_password_length %> characters minimum)</span>
          <% end %>
        </div>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>

      <div class="form-control my-3">
        <div class="label">
          <%= f.label :password_confirmation, class: "label-text" %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>

      <div class="form-control mt-7 w-full">
        <%= f.submit "Change my password", class: "btn btn-primary w-full" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
