<div class="w-3/5 mx-auto">
  <h1 class="font-semibold text-4xl"><span class="font-medium text-2xl">Sign In to</span> _WalletsManagement </h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full" }) do |f| %>
    <div class="card bg-neutral text-neutral-content shadow-xl my-7 p-8 pb-3 flex items-center">
      <div class="mt-3 w-full">
        <div class="label">
            <%= f.label :email, class: "label-text" %>
        </div>
        <%= f.email_field :email, class: "w-full input input-bordered", placeholder: "Email" %>
      </div>

      <div class="mt-3 w-full">
        <div class="label">
            <%= f.label :password, class: "label-text" %>
        </div>
        <%= f.password_field :password, class: "w-full input input-bordered", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-5 w-full">
          <label class="flex items-center">
            <%= f.check_box :remember_me, class: "checkbox checkbox-primary" %>
            <span class="w-full ml-2 label-text-alt">Remember me</span>
          </label>
        </div>
      <% end %>

      <div class="block items-center justify-center mt-7 w-full p-5">
        <%= f.submit "Sign in", class: "btn btn-primary w-full" %>
      </div>
      <div class="divider divider-vertical px-10">Or</div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>